@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Enriqueta:wght@400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&family=Roboto+Slab:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@400;500&family=Urbanist:wght@300;400;500;600;700;800&family=Varela&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    max-width: 500px;
    width: 600px;
    padding: 20px;
    max-height: 300px;
    background-color: #162643;
    border-radius: 5px;
}

.textheader {
    color: floralwhite;
    font-family : Poppins;
    font-size: 1rem;  
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: #162643;
}
::-webkit-scrollbar-thumb{
    background: #243350;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: #210057;
}

.top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: floralwhite;
}

ul{
    list-style: none;
    margin: 20px 0;
}

li {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.47) 0px 3px 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    border-radius: 15px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
    margin: 1rem 0;
    background-color: #243350;

}

.info-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    gap: 1rem;
    width: 100%;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.anchor-info {
    color: floralwhite;
    list-style: none;
}
.utube-icon {
    width: 120px;
    height: 70px;
    object-fit: cover;
    border-radius: 15px;
}

.favicon-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 15px;
}

.btndiv {
    flex:1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;

}

.takebtn {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-family: Poppins;
    font-size: 0.8rem;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) -1px 4px 1px 0px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: '#27A691';
}

.downjson {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-family: Poppins;
    font-size: 0.8rem;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) -1px 4px 1px 0px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color:rgb(255, 147, 31);
}

.downjson:hover {
    background-color: #27A691;
    color: black;
}

.takebtn:hover{
    background-color: '#243350';
    color: black;
}

.thumnail {
    width: 200px;
    height: 100px;
    border-radius: 20px;
}

.fa-regular {
    font-size: 1.5rem;
    color: floralwhite;
    cursor: pointer;
}

.hide {
    display: none;
}

.cross {
    align-self: flex-start;
    color: floralwhite;
}


.fa-circle-xmark{
    color:rgb(255, 25, 25);
}

.anchor-info{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    font-family: Poppins;
}

.count-div, .top-content{
    font-family: Roboto;
    color: floralwhite;
    font-weight: bold;
    font-size: small;
}

.count-div{
    font-size: medium;
}